<% provide(:title, "商品検索ページ") %>
<div class="container">
    <div class="row">
        <div class="col-md-12 align-ceter">
            <% if @datas.empty? %>
            <h2>該当する商品はありません</h2>
            <% else %>
                <% unless @genre.nil? %>
                    <h2><%= @genre.name %>一覧</h2>
                <% else %>
                    <h2>検索結果一覧</h2>
                <% end %>
            <% end %>
            <div class="row mt-4 align-center">
                <% @datas.each do |data| %>
                <div class="col-md-3">
                    <div class="d-flex justify-content-center">
                     <%= link_to customer_item_path(data.id) do %><!-- 画像クリックで詳細ページへ -->
                     <div class="img">
                     <%= attachment_image_tag data, :image, size: "206x150", fallback: "no-image.jpg" %>
                     </div>
                     <% end %>
                    </div>
                     <p class="text-center"><%= data.name %><br><%= data.price %>円(税抜)</p>
                </div>
                <% end %>
            </div>
            <div class="d-flex justify-content-center"> <!-- ページング機能　-->
            <%= paginate @datas %>
            </div>
        </div>
    </div>
</div>