<div class="container">
  <h2 class="page-header mt-4 mb-4"><%= full_name(@customer) %>さんの会員詳細</h2>
  <div>
    <div class="row mb-3">
      <div class="col-3">会員ID</div>
      <div class="col-3"><%= @customer.id %></div>
    </div>
    <div class="row mb-3">
      <div class="col-3">氏名</div>
      <div class="col-3"><%= @customer.last_name %> <%= @customer.first_name %></div>
    </div>
    <div class="row mb-3">
      <div class="col-3">フリガナ</div>
      <div class="col-3"><%= @customer.kana_last_name %> <%= @customer.kana_first_name %></div>
    </div>
    <div class="row mb-3">
      <div class="col-3">郵便番号</div>
      <div class="col-3"><%= @customer.postal_code %></div>
    </div>
    <div class="row mb-3">
      <div class="col-3">住所</div>
      <div class="col-3"><%= @customer.address %></div>
    </div>
    <div class="row mb-3">
      <div class="col-3">電話番号</div>
      <div class="col-3"><%= @customer.phone_number %></div>
    </div>
    <div class="row mb-3">
      <div class="col-3">メールアドレス</div>
      <div class="col-3"><%= @customer.email %></div>
    </div>
    <div class="row inline-block mb-3">
      <div class="col-3">会員ステータス</div>
        <% if @customer.is_deleted == true %>
      <div class="col-3 text-secondary">退会</div>
        <% else %>
      <div class="col-3 text-success">有効</div>
        <% end %>
    </div>
    <div class="row inline-block">
      <div class="col-3 offset-3"><%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success" %></div>
      <div class="col-3"><%= link_to "注文履歴一覧を見る", admin_orders_path(customer_id: @customer.id), class: "btn btn-primary" %></div>
    </div>
  </div>
</div>