<header class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-5">
         <a class="navbar-brand p-3" href="/"><%= image_tag('logo.jpg', size: "70x70") %></a>
      </div>
      <div class="col-7 d-flex align-items-end justify-content-center flex-column">
        <div class="row mr-1">
        <% if customer_signed_in? %>
          <div class="mb-2">こんにちは <span class="font-weight-bold"><%= current_customer.last_name %><%= current_customer.first_name %></span> さん</div>
        <% elsif admin_signed_in? %>
          <div class="mb-2">こんにちは <span class="font-weight-bold">管理者</span> さん</div>
        <% else %>
          <div class="mb-2">こんにちは <span class="font-weight-bold">ゲスト</span> さん</div>
        <% end %>
        </div>
        <div class="row">
          <% if customer_signed_in? %>
          <div class="d-flex">
            <div><%= link_to 'マイページ',customer_customers_path,class: 'fas fa-user nav-link text-dark' %></div>
            <div><%= link_to '商品一覧',customer_items_path,class: 'fas fa-birthday-cake nav-link text-dark' %></div>
            <div><%= link_to 'カート',customer_cart_items_path ,class: 'fas fa-shopping-cart nav-link text-dark' %></div>
            <div><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link text-dark' %></div>
          </div>
          <% elsif admin_signed_in? %>
          <div class="d-flex">
            <div><%= link_to '商品一覧',admin_items_path,class: 'fas fa-birthday-cake nav-link text-dark' %></div>
            <div><%= link_to '会員一覧',admin_customers_path,class: 'fas fa-users nav-link text-dark' %></div>
            <div><%= link_to '注文履歴一覧',admin_orders_path,class: 'fas fa-shopping-cart nav-link text-dark' %></div>
            <div><%= link_to 'ジャンル一覧',admin_genres_path,class: 'fas fa-cookie nav-link text-dark' %></div>
            <div><%= link_to 'ログアウト',destroy_admin_session_path,method: :delete,class: 'fas fa-sign-out-alt nav-link text-dark' %></div>
          </div>
          <% else %>
          <div class="d-flex">
            <div><%= link_to 'About',about_path,class: 'fas fa-smile nav-link text-dark' %></div>
            <div><%= link_to '商品一覧',customer_items_path,class: 'fas fa-birthday-cake nav-link text-dark' %></div>
            <div><%= link_to '新規登録', new_customer_registration_path,class: 'fas fa-edit nav-link text-dark' %></div>
            <div><%= link_to 'ログイン', new_customer_session_path ,class: 'fas fa-sign-in-alt nav-link text-dark'%></div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>